/* @import url("https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400,401,500,501,700,701,900,901&display=swap"); */
@import url("https://api.fontshare.com/v2/css?f[]=satoshi@1,2&display=swap");

@import "tailwindcss";

.font-satoshi {
  font-family: "Satoshi", sans-serif;
}
